
html, body {
    overflow-x: hidden !important;
}

body{
  width: 100%;
}
.blue-text{
  color: #5c98f2;
}
     .hero-section {
  background-color: #f8f9fa;
  position: relative;
  overflow: hidden;
  
}

.hero-image {
    height: 500px;
    width: 100px;
  border-radius: 25px;
  position: relative;
  z-index: -2;
}

/* Makes the search box overlap slightly on image */
.search-box {
  position: absolute;
  bottom: 50; /* moves it lower */
  left: 0;
  width: 200%;
  max-width: 1000px;
  z-index: 10;
}

    
      .card-img {
        height: 300px;
        object-fit: cover;
        transition: transform 0.4s ease;
      }
      .card:hover .card-img {
        transform: scale(1.05);
      }
      .card {
        overflow: hidden;
        border: none;
        border-radius: 15px;
        position: relative;
      }
      .card-body {
        position: absolute;
        bottom: 15px;
        left: 20px;
      }

.hero {
      padding: 100px 0;
      background-color: #f8f9fa;
    }
    .section-title {
      text-align: center;
      margin-bottom: 3rem;
    }
    .card img {
      height: 250px;
      object-fit: cover;
    }


    .custom-card {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
  width: 100%;
  transition: 0.3s;
  height: 400px;
  margin-bottom: 30px;
  margin-left: 10PX;
  margin-right: 10px;
}

.custom-card:hover {
  transform: translateY(-5px);
}

.custom-card-img {
  position: relative;
}

.custom-card-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.icon-box {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #ffffffd6;
  backdrop-filter: blur(5px);
  padding: 8px;
  border-radius: 50%;
  font-size: 18px;
  color: #4a4a4a;
}

.custom-card-body {
  padding: 22px;
}

.custom-card-body .card-title {
  font-weight: 600;
  color: #222;
  line-height: 1.4;
  margin-bottom: 10px;

}

.rating {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.stars {
  color: #f7a400;
  font-size: 16px;
  margin-right: 5px;
}

.review {
  color: #777;
}

.price-text {
  margin: 0;
  color: #777;
  font-size: 15px;
}

.price {
  color: #3e66ff;
  font-weight: 700;
  font-size: 18px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1) brightness(0) saturate(100%);
  width: 40px;
  height: 40px;
}

  .feature-icon {
            font-size: 30px;
            margin-bottom: 10px;
        }
        .team-img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: 10px;
        }
        .faq-item {
            cursor: pointer;
        }

        .contact-hero-section{
          margin-top: 80px;
          width: 100%;
          background-image:url(img/pexels-wyxina-tresse-311038210-34940015.jpg);
          color: white;
          height: 500px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          align-items: center;
        }
        .contact-info{
          margin-top: 80px;
          margin-bottom: 80px;
          margin-left: 20px;
          margin-right: 20px;
         
        }
        
        .contact-txt{
          color: gray;
        }
        .contact-det{
          color: rgb(44, 85, 248);
        }
        .info-data{
          text-align: center;
        }

        .contact-form{
          background-color: rgb(203, 202, 202);
          text-align: center;
          /* display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center; */
          
        }
        .h-info{
          font-size: 40px;
         
        }
        .s-txt{
          font-size: 19px;
          display: inline-block;
        }
        .contact-form {
    background: #f3f3f3;
   
}

.contact-form .form-control {
    padding: 12px 15px;
    border-radius: 2px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.h-info {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
}

.s-txt {
    font-size: 18px;
    color: #666;
}
.form{
   margin-left: 40px;
    margin-right: 40px;
}


.div-map{
  width: 100%;
}

.map {
    width: 100%;
}

.div-map {
    width: 100%;
}

.div-map iframe {
    width: 100%;
    height: 450px; /* you can change this height */
    border: 0;
}
.social-media{
 height: 200px;
 background-color: rgb(27, 26, 26);
 display: flex;
 justify-content: center;
 align-items: center;
}
.icon {
    color: white;
    font-size: 24px; /* change size here */
    margin-right: 10px;
}

.card-text{
  color: white;
}
.discover{
   display: flex;
   flex-wrap: wrap;
 justify-content: center;
 align-items: center;

}

    footer {
      background-color: #212529;
      color: #bbb;
      padding: 50px 0 20px;
    }
    footer a {
      color: #bbb;
      text-decoration: none;
    }
    footer a:hover {
      color: #fff;
    }